
#conteiner {
    width: 595px;
    height: 842px;
    margin: auto;
    text-align: center;
    line-height: 170%;
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    color: black;
  }
  
  .no-margin p{
    margin: 0;
  }
  
  .negrito {
    font-weight: bold;
  }
  
  .corpo {
    text-align: justify;
  }
  
  