<link rel="stylesheet" type="text/css" href="template.css">

<div id="conteiner">
    </br>
    </br>
    <div class="no-margin negrito">
        <p>SERVIÇO PÚBLICO FEDERAL</p>
        <p>UNIVERSIDADE FEDERAL DA PARAÍBA</p>
        <p>PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        <p>COMISSÃO  PERMANENTE  DE  PESSOAL  DOCENTE</p>
    </div>

    </br>
    </br>
    <p class="negrito">PORTARIA PROGEP/CPPD/Nº ${id}/${data}.</p>
    </br>

    <p class="corpo">O  PRÓ-REITOR DE GESTÃO DE PESSOAS -PROGEP-  DA UNIVERSIDADE  FEDERAL  DA  PARAÍBA, usando da atribuição que lhe confere o artigo 42, alínea b, do Estatuto Geral e considerando o que consta do Processo  n.º ${processo}, RESOLVE:</p>
    </br>

    <p class="corpo">Conceder Progressão  Funcional   Vertical Professor(a) ADJUNTO NÍVEL IV(604), Classe C, para Professor ASSOCIADO NÍVEL I(701), Classe D, a  ${nome},  matricula  do  SIAPE  n.º ${matricula},   lotado(a)  no   ${processo}, desta   Universidade,  de  acordo  com o disposto  nas e da  Lei 12.772 de 28.12.2012 e a Resolução nº 54/2006 e 15/2006 e 14/2008 do CONSEPE.</p>
    <p class="corpo negrito">Professor ASSOCIADO NÍVEL I (701), Classe D, com vigência a partir de ${vigencia}.</p>

    </br>
    </br>
    <div class="no-margin">
    <p class="negrito">FRANCISCO  RAMALHO DE  ALBUQUERQUE</p>
    <p class="negrito">PRÓ-REITOR DE GESTÃO DE PESSOAS</p>
    </div>
</div>
