<link rel="stylesheet" type="text/css" href="template.css">

<div id="conteiner">
    </br>
    </br>
    <div class="no-margin negrito">
        <p>SERVIÇO PÚBLICO FEDERAL</p>
        <p>UNIVERSIDADE FEDERAL DA PARAÍBA</p>
        <p>PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        <p>COMISSÃO  PERMANENTE  DE  PESSOAL  DOCENTE</p>
    </div>

    </br>
    </br>
    <p class="negrito">PORTARIA PROGEP/CPPD/Nº ${id}/${data}.</p>
    </br>

    <p class="corpo">O  PRÓ-REITOR DE GESTÃO DE PESSOAS -PROGEP-  DA UNIVERSIDADE  FEDERAL  DA  PARAÍBA, usando da atribuição que lhe confere o artigo 42, alínea b, do Estatuto Geral e considerando o que consta do Processo  n.º ${processo}, resolve:</p>
    </br>

    <p class="corpo">Conceder a Mudança de Regime de Trabalho de T–40 (QUARENTA HORAS SEMANAIS) para T–40 (QUARENTA HORAS SEMANAIS) COM DEDICAÇÃO EXCLUSIVA a  ${nome}, matricula  do  SIAPE  n.º ${matricula}, Classe B , ASSISTENTE, NÍVEL I(501),  lotado(a)  no  ${departamento}, desta Universidade, de acordo com os critérios constantes da Resolução No 18/99 do CONSUNI, Resolução Nº 64/2009 CONSEPE e Lei n° 12.772/2012 alterada pela Lei n° 12.863/2013, com vigência a partir de ${vigencia}.</p>
    </br>
    </br>
    <div class="no-margin">
    <p class="negrito">FRANCISCO  RAMALHO DE  ALBUQUERQUE</p>
    <p class="negrito">PRÓ-REITOR DE GESTÃO DE PESSOAS</p>
    </div>
</div>
