<link rel="stylesheet" type="text/css" href="template.css">

<div id="conteiner">
    </br>
    </br>
    <div class="no-margin negrito">
        <p>SERVIÇO PÚBLICO FEDERAL</p>
        <p>UNIVERSIDADE FEDERAL DA PARAÍBA</p>
        <p>PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        <p>COMISSÃO  PERMANENTE  DE  PESSOAL  DOCENTE</p>
    </div>

    </br>
    </br>
    <p class="negrito">PORTARIA PROGEP/CPPD/Nº ${id}/${data}.</p>
    </br>

    <p class="corpo">O  PRÓ-REITOR DE GESTÃO DE PESSOAS -PROGEP-  DA UNIVERSIDADE  FEDERAL  DA  PARAÍBA, usando da atribuição que lhe confere o artigo 42, alínea b, do Estatuto Geral e considerando o que consta do Processo  n.º ${processo},bem como, de acordo com o Parecer da Comissão Permanente do Pessoal Docente-CPPD-UFPB e da legislação vigente, resolve:</p>
    </br>

    <p class="corpo">APROVAR o relatório conclusivo do Estágio Probatório de suas atividades acadêmicas, desenvolvidas nos Períodos Letivos, compreendidos de ${vigencia}, do (a) Professor (a)  ${nome},  matricula  do  SIAPE  n.º ${matricula}, ${classe}, de Professor (a) ${nivel},  lotado(a)  no  ${departamento}, desta Universidade, de acordo com o disposto na Resolução No 05/99, do CONSUNI-UFPB.</p>

    </br>
    </br>
    <div class="no-margin">
    <p class="negrito">FRANCISCO  RAMALHO DE  ALBUQUERQUE</p>
    <p class="negrito">PRÓ-REITOR DE GESTÃO DE PESSOAS</p>
    </div>
</div>
