<link rel="stylesheet" type="text/css" href="template.css">

<div id="conteiner">
    </br>
    </br>
    <div class="no-margin negrito">
        <p>SERVIÇO PÚBLICO FEDERAL</p>
        <p>UNIVERSIDADE FEDERAL DA PARAÍBA</p>
        <p>PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        <p>COMISSÃO  PERMANENTE  DE  PESSOAL  DOCENTE</p>
    </div>

    </br>
    </br>
    <p class="negrito">PORTARIA PROGEP/CPPD/Nº ${id}/${data}.</p>    </br>

    <p class="corpo">O  PRÓ-REITOR DE GESTÃO DE PESSOAS -PROGEP-  DA UNIVERSIDADE  FEDERAL  DA  PARAÍBA, usando da atribuição que lhe confere o artigo 42, alínea b, do Estatuto Geral e considerando o que consta do Processo  n.º ${processo}, RESOLVE:</p>
    </br>

    <p class="corpo">Conceder Progressão  Funcional   Horizontal  de Professor ADJUNTO NÍVEL II (602), Classe C, para Professor ADJUNTO, NÍVEL III (603), Classe C, a ${nome},  matricula  do  SIAPE  n.º ${matricula},   lotado(a)  no   ${departamento}, desta   Universidade,  de  acordo  com o disposto  na   Leis 12.772, da Resolução Nº 37/1999 e resolução 027/2001, do  CONSEPE-UFPB,</p>
    <p class="corpo negrito">com vigência a partir de ${vigencia}.</p>

    </br>
    </br>
    <div class="no-margin">
    <p class="negrito">FRANCISCO  RAMALHO DE  ALBUQUERQUE</p>
    <p class="negrito">PRÓ-REITOR DE GESTÃO DE PESSOAS</p>
    </div>
</div>
