.FormGroup {
    max-width: 700px;
    margin: auto;
}
.buttondiv {
    padding: 15px;
    padding-right: 0px;
    height: auto;
}
.buttonRight {
    width: 200px;
    float: right;
    transition: all 0.2s;
}

.buttonRight:hover {
    background-color: #eee;
}

.buttondiv::after {
    content: "";
    display: block;
    clear: both;
  }